{{page-title "Versions"}}

<div class="uk-child-width-1-3@s uk-flex uk-flex-column uk-flex-row@s gap@s">
  <label for="status">Status
    <PowerSelect
      @onChange={{fn (mut this.status)}}
      @options={{this.statuses}}
      @placeholder="Select status..."
      @selected={{this.status}}
      @allowClear={{true}}
      id="status"
      as |s|
    >
      {{s}}
    </PowerSelect>
  </label>

  <label for="dependency">Dependency
    <PowerSelect
      @onChange={{this.dependencyChanged}}
      @options={{this.dependencies}}
      @placeholder="Select dependency..."
      @selected={{this.selectedDependency}}
      @allowClear={{true}}
      @searchEnabled={{true}}
      @searchField="name"
      id="dependency"
      as |d|
    >
      {{d.name}}
    </PowerSelect>
  </label>
  <label for="name">Version
    <Input
      class="uk-input"
      placeholder="Search by version..."
      id="version"
      @value={{this.version}}
    />
  </label>
</div>

<VersionTable @versions={{this.filteredVersions}} />