{{page-title @project.name}}

<Form
  @name={{if
    @project
    (concat "Edit project " @project.name)
    "Track new Project"
  }}
  @model={{this.project}}
  @onSubmit={{perform this.saveProject}}
  as |f|
>
  <f.input @name="name" />
  <div class="uk-margin">
    <label class="uk-form-label">Repo</label>
    <div class="repo-inputs">
      <f.input @name="repo" @raw={{true}} />
      <f.input
        @name="repoType"
        @type="select"
        @options={{this.repoTypes}}
        @raw={{true}}
      />
    </div>
  </div>

  <f.input
    @name="accessToken"
    type="password"
    autocomplete="off"
    @hidden={{(eq this.project.repoType "public")}}
  />

  <f.input
    @name="users"
    @type="select"
    @label="Maintainers"
    @multiple={{true}}
    @value={{this.project.users}}
    @options={{this.users}}
    @searchField="searchField"
    @visibleField="fullName"
  />
  {{#if (gt this.project.users.length 1)}}
    <f.input
      @name="primaryMaintainer"
      @type="select"
      @options={{this.project.users}}
      @value={{this.primaryMaintainer}}
      @searchField="searchField"
      @visibleField="fullName"
    />
  {{/if}}
  <f.button @loading={{this.saveProject.isRunning}} />
</Form>