{{page-title 'Track New'}}

<Form
  @name='Track new Project'
  @model={{this.project}}
  @onSubmit={{this.saveProject}}
  as |projectForm|
>
  <projectForm.input @name='name' />
  <projectForm.input @name='repo' />

  <DependencyTable @dependencyVersions={{this.project.dependencyVersions}} />

  <Modal
    @title='Choose Dependency'
    @visible={{this.modals.selectDependency}}
    as |m|
  >
    <Form
      @model={{this.dependencyChangeset}}
      @onSubmit={{this.selectDependency}}
      as |f|
    >
      <m.body>

        <f.input
          @placeholder='Select dependency'
          @type='select'
          @name='dependency'
          @searchField='name'
          @options={{this.dependencies}}
          @afterOptionsComponent={{component
            'select-button'
            on-click=(fn this.openModal 'addDependency')
          }}
        />

      </m.body>
      <m.footer>
        <UkButton
          @color='danger'
          @label='Cancel'
          @onClick={{this.closeModals}}
        />
        <UkButton @color='primary' @label='Continue' @type='submit' />
      </m.footer>
    </Form>
  </Modal>

  <Modal
    @title='Choose Version for {{this.selectedDependency.name}}'
    @visible={{this.modals.selectVersion}}
    as |m|
  >
    <Form
      @model={{this.versionChangeset}}
      @onSubmit={{this.addDependencyVersion}}
      as |f|
    >
      <m.body>
        <f.input
          @placeholder='Select version for {{this.selectedDependency.name}}'
          @type='select'
          @name='version'
          @searchField='version'
          @options={{this.filteredDependencyVersions}}
          @afterOptionsComponent={{component
            'select-button'
            on-click=(fn this.openModal 'addVersion')
          }}
        />
      </m.body>
      <m.footer>
        <UkButton
          @color='danger'
          @label='Back'
          @onClick={{fn this.closeModal 'selectVersion'}}
        />
        <UkButton @color='primary' @label='Save' @type='submit' />
      </m.footer>
    </Form>
  </Modal>

  <Modal @title='Add Dependency' @visible={{this.modals.addDependency}} as |m|>
    <Form
      @model={{this.addDependencyChangeset}}
      @onSubmit={{this.addDependency}}
      as |f|
    >
      <m.body>
        <f.input @name='name' />
      </m.body>
      <m.footer>
        <UkButton
          @color='danger'
          @label='Cancel'
          @onClick={{fn this.closeModal 'addDependency'}}
        />
        <UkButton @color='primary' @label='Save' @type='submit' />
      </m.footer>
    </Form>
  </Modal>

  <Modal
    @title='Add Version to {{this.selectedDependency.name}}'
    @visible={{this.modals.addVersion}}
    as |m|
  >
    <Form
      @model={{this.addVersionChangeset}}
      @onSubmit={{this.addVersion}}
      as |f|
    >
      <m.body>
        <f.input @name='version' />
        <f.input @name='endOfLifeDate' @type='date' />
        <f.input @name='releaseDate' @type='date' />

      </m.body>
      <m.footer>
        <UkButton
          @color='danger'
          @label='Cancel'
          @onClick={{fn this.closeModal 'addVersion'}}
        />
        <UkButton @color='primary' @label='Save' @type='submit' />
      </m.footer>
    </Form>
  </Modal>
  <UkButton
    @label='+'
    @width='1-1'
    @onClick={{fn this.openModal 'selectDependency'}}
    @color='primary'
  />

  <projectForm.button />
</Form>