{{page-title "Dependencies"}}

<div class="uk-child-width-1-2@s uk-flex uk-flex-column uk-flex-row@s gap@s">
  <Filter @name="name" @value={{this.name}} @placeholder="Seach by name..." />
  <Filter
    @name="provider"
    @type="select"
    @options={{this.providers}}
    @value={{this.provider}}
    @placeholder="Select provider..."
  />
</div>
<DependencyTable @dependencies={{this.filteredDependencies}} />