<div class='project-compact'>

  <UkCard as |card|>

    <LinkTo
      @route='projects.project-detailed'
      data-test-project-link='{{@project.id}}'
      @model={{@project}}
    >
      <h3
        data-test-project-name
        class='title-compact'
      >{{@project.name}}</h3></LinkTo>

    <card.body data-test-project-status class='text-{{@project.status}}'>

      <UkIcon @icon='{{this.icon}}' @ratio={{4}} />

      <DependencyCompact @version={{this.version}} />

    </card.body>
  </UkCard>
</div>