{{yield (hash toggler=(component 'dropdown/toggler'))}}
<div
  uk-dropdown='mode: {{or @mode "click"}}; pos:{{or
    @pos
    "bottom-left"
  }}; duration: 0;'
  class='dropdown-wrapper'
  style='width:{{@width}}'
  ...attributes
>
  {{yield (hash item=(component 'dropdown/item'))}}
</div>