<tr class='text-{{@version.status}}'><td>{{@version.dependency.name}}</td><td
  >{{@version.version}}</td><td>
    {{format-date @version.eolDate}}</td><td>{{format-date
      @version.releaseDate
    }}</td></tr>